* {
    margin: 0;
    padding: 0;
    text-align: center;
}

body{
  background-color: black;
  color: white;
}


h1 {
    background-color: #081b31;
    color: white;
    height: 5rem;
    line-height: 5rem;
}

.choice {
    height: 150px;
    width: 150px;
}

.choice:hover {
    cursor: pointer;
    background-color: rgb(37, 36, 36);

  }

img {
    height: 110px;
    width: 110px;
    object-fit: cover;
    border-radius: 20%;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 3rem;
}
.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-top: 2rem;
    gap: 4rem;
  }
  
  #user-score,
  #comp-score {
    font-size: 2rem;
  }
  
  .msg-container {
    margin-top: 3rem;
  }
  
  #msg {
    background-color: #081b31;
    color: #fff;
    font-size: 1rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
  }





 